
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>SplitScreen</title>
</head>
<body>
    <div class="fade-in">
        <div class="split left">
            <div class="centered">
                <h2>Jane Flex</h2>
                <p>Some text.</p>
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                @RenderBody()
            </div>
            <a href="https://www.facebook.com/babicuni96" class="fa fa-facebook" style="position: absolute; bottom: 0pt; right: 47%;"></a>
        </div>

    </div>
</body>
</html>
