
@{
    ViewBag.Title = "WelcomeView";
    Layout = "~/Views/Shared/SplitScreenLayout.cshtml";
}

<img src="~/Content/Icons/pcicon.png" style="border-radius:0%"/>

<h1 style="font-family: 'Oxygen', sans-serif; color:black; font-size:50px" class="welcome1">easyWay</h1>
<br/>

<input type="button"  class="button1" value="WELCOME" onclick="location.href='@Url.Action("AfterSplit", "Home")' "/>
<br/> <br/>

